# Set EOL to lf to avoid problems when building a package
* text eol=lf

# Explicitly declare text files
*.js text
*.json text
*.md text
*.ejs text
*.jade text

# Declare binary files
*.png -text
*.jpeg -text
*.jpg -text
